@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/variables";

* {
  text-decoration: none;
  overflow-x: visible;
}
nav {
  background-color: #fff;
  color: white;
}
body {
  margin: 0;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.7rem;
}

.nav__container--id {
  display: flex;
  color: white;
  margin-right: 3rem;
}

.nav__button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #00e38c;
  border: none;
  padding: 2rem;
  cursor: pointer;
  outline: inherit;
  border-radius: 1rem;
  color: white;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  @include tablet {
    width: 7.688rem;
    margin-top: 0.5rem;
    padding: 0;
    border-radius: 0.25rem;
  }
}
.nav__avatar {
  height: 3.7rem;
  border-radius: 5rem;
  position: unset;
  min-width: 3.8rem;
  max-width: 3.8rem;
  @include tablet {
    width: 56rem;
    position: unset;
    min-width: 3.8rem;
    max-width: 3.8rem;
  }
  object-fit: cover;
}
.services-col:nth-child(1) {
  width: 25%;
}

.services-col:nth-child(2) {
  width: 75%;
}

.nav__container--user--id {
  display: flex;
}

.row {
  display: flex;
  justify-content: center;
}

.row:nth-child(2n + 1) {
  background-color: #f4f4f4;
}

.responsive-table__row:nth-child(2n) {
  background-color: #ffffff;
}

.idk {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}
body {
  background-image: url("./../../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.service__card {
  background-color: grey;
  height: 10rem;
}

.service__card:nth-child(1),
.service__card:nth-child(2),
.service__card:nth-child(3) {
  height: 8.375rem;
  margin: 0.5rem;
  @include desktop {
    height: 15.813rem;
  }
}
.service__card:nth-child(1) {
  color: #fff;
  background: linear-gradient(rgba(0, 130, 170, 0), rgb(0, 0, 0)),
    url("./../../assets/images/exterior-photography.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  line-height: 0rem;
  text-align: left;
}

.service__card:nth-child(2) {
  color: #fff;
  background: linear-gradient(rgba(0, 130, 170, 0), rgb(0, 0, 0)),
    url("./../../assets/images/interior-photography.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  line-height: 0rem;
  text-align: left;
}
.service__card:nth-child(3) {
  color: #fff;
  background: linear-gradient(rgba(0, 130, 170, 0), rgb(0, 0, 0)),
    url("./../../assets/images/portrait.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  line-height: 0rem;
  text-align: left;
}

.service__card:nth-child(4) {
  @include desktop {
    width: 66rem;
  }
}

.service__card:nth-child(5) {
  @include desktop {
    height: 32.125rem;
  }
}

.service {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    flex-wrap: wrap;
  }
}

.service__row--contractor {
  height: 8rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.service__card--lg {
  color: #fff;
  background: linear-gradient(rgba(0, 130, 170, 0), rgb(0, 0, 0)),
    url("./../../assets/images/hire-a-contractor.png");
  margin: 0.5rem;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  line-height: 0rem;
  text-align: left;

  @include tablet {
    grid-column: 1 / span 2;
    height: 5.813rem;
    position: absolute;
    padding-top: 15rem;
    margin-top: 17.3rem;
    max-width: 59rem;
    min-width: 55rem;
  }
}

.service__card--lg-2 {
  color: #fff;
  height: 12rem;
  width: 19.5rem;
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  min-width: 22.438rem;
  margin-top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  line-height: 0rem;
  text-align: left;
  background: linear-gradient(rgba(0, 130, 170, 0), rgb(0, 0, 0)),
    url("./../../assets/images/aerial-photography.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 6rem;
  @include tablet {
    width: 70%;
    margin-left: 1rem;
    height: 37.6rem;
    grid-row: 3 / span 2;
    grid-column: 4 / span 2;
    grid-row-start: 1;
    margin-top: 0.5rem;
  }
}

.service__grid {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
}

.responsive-table {
  display: table;
  width: 95%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  @include tablet {
    width: 100%;
  }
}

.responsive-table__header {
  display: flex;
  background-color: #fff;
  color: #11193c;
  font-weight: bold;
  font-size: 1.563rem;
  text-align: center;

  font-weight: bold;
  @include tablet {
    justify-content: center;
    padding-left: 24.8rem;

    width: 25.5%;
  }
}

.responsive-table-header__cell {
  display: table-cell;
  padding: 0.625rem;
  min-width: 7rem;
  text-align: justify;

  min-width: 10%;
  max-width: 10%;
  white-space: normal;
  @include tablet {
    white-space: nowrap;
    padding-right: 3.4rem;
  }
}

.responsive-table-header__cell:nth-child(1) {
  @include tablet {
    width: 15%;
  }
}
.responsive-table-header__cell:nth-child(2) {
  @include tablet {
    width: 10%;
    padding-left: 3rem;
  }
}
.responsive-table-header__cell:nth-child(3) {
  @include tablet {
    width: 10%;
    padding-right: 7rem;
  }
}
.responsive-table-header__cell:nth-child(4) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-header__cell:nth-child(5) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-header__cell:nth-child(6) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-header__cell:nth-child(7) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-header__cell:nth-child(8) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-header__cell:nth-child(9) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-header__cell:nth-child(10) {
  @include tablet {
    width: 10%;
  }
}

.responsive-table-body__cell:nth-child(1) {
  @include tablet {
    width: 15%;
  }
}
.responsive-table-body__cell:nth-child(2) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-body__cell:nth-child(3) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-body__cell:nth-child(4) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-body__cell:nth-child(5) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-body__cell:nth-child(6) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-body__cell:nth-child(7) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-body__cell:nth-child(8) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-body__cell:nth-child(9) {
  @include tablet {
    width: 10%;
  }
}
.responsive-table-body__cell:nth-child(10) {
  @include tablet {
    width: 10%;
  }
}

.responsive-table__body {
  display: table-row-group;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.responsive-table__row {
  display: flex;
  padding: 1.2rem;
  border-bottom: 1px solid #d3e3f7;
  border-top: 1px solid #d3e3f7;
  color: #001737;

  justify-content: space-between;
  @include tablet {
    width: 77rem;
    justify-content: space-around;
  }
}

.responsive-table__row:nth-child(2n + 1) {
  background-color: #f4f4f4;
}

.responsive-table-body__cell {
  display: table-cell;
  white-space: nowrap;
  margin-left: 1rem;
  text-align: left;
  margin-right: 1rem;
}

.responsive-table-body__cell--hidden {
  display: none;
  @include tablet {
    display: unset;
  }
}

.dropdownCta {
  display: unset;
  @include tablet {
    display: none;
  }
}

.service__container--title {
  width: 100%;
}

.service__heading {
  font-family: Poppins;
  text-align: left;
  margin: 0.5rem;
}

.card__heading {
  font-size: 0.938rem;
  padding-left: 1rem;
}
.card__copy {
  font-size: 0.625rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.listing__cta--edit-mobile {
  display: unset;
  @include tablet {
    display: none;
  }
}
.listing__cta--delete-mobile {
  display: unset;
  @include tablet {
    display: none;
  }
}

.listing__cta--edit-desktop {
  display: none;
  @include tablet {
    display: unset;
  }
}
.listing__cta--delete-desktop {
  display: none;
  @include tablet {
    display: unset;
  }
}

.responsive-table-body__container--buttons {
  display: flex;
}
.responsive-table-body__button {
  width: 4.688rem;
  height: 1.5rem;
  border-radius: 1.25rem;

  border: none;
}

.responsive-table-body__button--edit {
  margin-right: 0.2rem;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.responsive-table-body__button--delete {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 14%,
    rgba(252, 176, 69, 1) 100%
  );
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.pseudo-test__div--jim {
  display: flex;
  width: 20%;
}

.service__icon {
  width: 2.563rem;
  height: 2.711rem;
  padding-left: 1rem;
}

.card__icon {
  height: 2.713rem;
  width: 2.713rem;
  padding-left: 1rem;
}

input,
select {
  outline: none;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  padding: 0.7rem;
  border: 1px solid #ededed;
  color: #394164;
  margin-left: 0.3rem;
  margin-bottom: 1rem;
}
