@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/variables";

.delete-listing {
  position: fixed;
  background-color: white;
  justify-content: center;
  top: 0;
  bottom: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 2;
  align-items: center;
  display: flex;
  align-items: center;

  @include tablet {
    background: rgba(35, 41, 64, 0.7);
  }
  &__card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: #fff;
    height: 100%;
    border-radius: 0.1875rem;
    max-width: 42rem;

    @include tablet {
      margin: 0.75rem 0.75rem 0.75rem 0.75rem;
      height: 28rem;
      width: 28rem;
    }
  }
}

.delete-listing__container--close {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.delete-listing__container--outer {
  background-image: url("../../assets/bg.png");
  height: 30rem;
  width: 30rem;
  border-radius: 0.25rem;
}

.delete-listing__button--confirm {
  background-color: #00e38c;
  border-radius: 0.188rem;
  border: none;
  color: white;
  width: 5.938rem;
  height: 1.875rem;
  margin-right: 1rem;
  @include tablet {
    width: 4.688rem;
    height: 1.875rem;
  }
}

.delete-listing__button--cancel {
  background-color: #fff;
  border-radius: 0.188rem;
  border: 1px solid #757c99;
  color: #757c99;
  width: 5.938rem;
  height: 1.875rem;
  margin-right: 0.063rem;
  @include tablet {
    width: 4.688rem;
    height: 1.875rem;
  }
}

.delete-listing__icon {
  @include tablet {
    height: 10rem;
    width: 10rem;
    padding-bottom: 1rem;
  }
}
