@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/variables";

.add-new-listing {
  position: fixed;
  background-color: white;
  justify-content: center;
  top: 0;
  bottom: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 2;
  align-items: center;

  @include tablet {
    background: rgba(35, 41, 64, 0.7);
  }

  &__card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: #fff;
    height: 100%;
    border-radius: 0.1875rem;
    max-width: 42rem;
    height: 45rem;

    @include tablet {
      margin: 0.75rem 0.75rem 0.75rem 0.75rem;
      height: 33rem;
      width: 35rem;
    }
  }
  &__container--close {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}

.add-new-listing__container--outer {
  background-image: url("../../assets/bg.png");
  height: 30rem;
  width: 30rem;
  border-radius: 0.25rem;

  @include tablet {
    height: 35rem;
    width: 37rem;
    height: 45rem;
    margin-bottom: auto;
    margin-top: 1rem;
  }
}

.add-new-listing__button--upload {
  background-color: #00e38c;
  border-radius: 0.188rem;
  border: none;
  color: white;
  width: 5.938rem;
  height: 1.875rem;
  margin-right: 1rem;
  @include tablet {
    width: 4.688rem;
    height: 1.875rem;
  }
}

.add-new-listing__button--cancel {
  background-color: #fff;
  border-radius: 0.188rem;
  border: 1px solid #757c99;
  color: #757c99;
  width: 5.938rem;
  height: 1.875rem;
  margin-right: 1rem;
  @include tablet {
    width: 4.688rem;
    height: 1.875rem;
  }
}

.add-new-listing__row--header {
  display: flex;
  justify-content: space-between;
  padding-left: 14rem;
  padding-right: 1rem;
}

.add-new-listing__icon {
  width: 2rem;
  height: 1.5rem;
  margin-top: 1rem;
}
